<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Spring MVC</title>
    </head>
    <body>
        <header th:replace="~{layout/template :: header}"></header>
        <br/>
        <br/>

        <a th:href="@{/add}"> [[#{person.add}]] </a>

        <br/>

        <div th:if="${persons != null and !persons.empty}">
            <table border="1">
                <tr>
                    <th> [[#{person.name}]] </th>
                    <th> [[#{person.lastName}]] </th>
                    <th> [[#{person.email}]] </th>
                    <th> [[#{person.phone}]] </th>
                    <th> [[#{action.edit}]] </th>
                    <th> [[#{action.delete}]] </th>
                </tr>

                <tr th:each="person : ${persons}">
                    <td th:text="${person.name}"> Show name </td>
                    <td th:text="${person.lastName}"> Show last name </td>
                    <td th:text="${person.email}"> Show email </td>
                    <td th:text="${person.phone}"> Show phone </td>
                    <td> <a th:href="@{/edit/} + ${person.idPersona}" th:text="#{action.edit}"></a> </td>
                    <td> <a th:href="@{/delete(idPersona=${person.idPersona})}" th:text="#{action.delete}"></a> </td>
                </tr>
            </table>
        </div>

        <div th:if="${persons == null or persons.empty}">
            [[#{action.emptyList}]]
        </div>

    <footer th:replace="~{layout/template :: footer}"></footer>
    </body>
</html>